*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#ff5ea8,#ffb6d9);
overflow:hidden;
color:white;
}

.page{
display:none;
width:100%;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
}

.active{
display:flex;
}

.glass{
background:rgba(255,255,255,.15);
backdrop-filter:blur(15px);
padding:30px;
border-radius:25px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.25);
max-width:700px;
width:95%;
}

button{
padding:15px 30px;
border:none;
border-radius:40px;
font-size:18px;
font-weight:bold;
background:white;
color:#ff2d75;
margin-top:20px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

#giftBox{
font-size:100px;
cursor:pointer;
animation:jump 1s infinite;
}

@keyframes jump{
50%{
transform:translateY(-12px);
}
}

.cake{
width:220px;
height:140px;
background:#ff8fb9;
border-radius:20px;
margin:auto;
position:relative;
margin-top:25px;
}

.candle{
width:12px;
height:70px;
background:white;
position:absolute;
left:50%;
top:-55px;
transform:translateX(-50%);
}

.flame{
width:18px;
height:18px;
background:gold;
border-radius:50%;
position:absolute;
top:-18px;
left:-3px;
box-shadow:0 0 25px yellow;
animation:flicker .4s infinite alternate;
}

@keyframes flicker{
from{transform:scale(.9);}
to{transform:scale(1.15);}
}

.letter{
background:white;
color:#333;
padding:25px;
border-radius:25px;
width:92%;
max-width:700px;
height:75vh;
overflow-y:auto;
line-height:1.9;
}

.hearts span{
position:fixed;
bottom:-20px;
animation:fly 8s linear infinite;
font-size:22px;
}

@keyframes fly{
to{
transform:translateY(-120vh);
opacity:0;
}
}
